<div class='field'>
  <%= f.check_box :show_in_main_menu %>
  <%= f.label :show_in_main_menu, t('.show_in_main_menu_description').html_safe,
              :class => "stripped" %>
</div>

<div class='field'>
  <%= f.check_box :show_in_marketing_menu %>
  <%= f.label :show_in_marketing_menu, t('.show_in_marketing_menu_description').html_safe,
              :class => "stripped" %>
</div>

<div class='field'>
  <%= f.check_box :show_in_footer_menu %>
  <%= f.label :show_in_footer_menu, t('.show_in_footer_menu_description').html_safe,
              :class => "stripped" %>
</div>