<% if post.live? %>
  <article class="blog_post" id="<%= dom_id(post) %>">
    <header>
      <% if post.images.any? %>
        <%= link_to refinery.blog_post_path(post), class: 'banner-image' do %>
          <%= image_tag post.images.first.thumbnail(geometry: "810x340").url, { alt: post.images.first.alt } %>
        <% end %>
      <% end %>

      <% if (categories = post.categories.translated).any? %>
        <aside class='filled_in'>
          <%=raw categories.collect { |category| link_to category.title, refinery.blog_category_path(category) }.to_sentence %>
        </aside>
      <% end %>

      <h2><%= link_to post.title, refinery.blog_post_path(post) %></h2>

      <div class='details'>
        <time datetime="<%=l post.published_at.to_date, :format => :default %>" class='posted_at'>
          <%= t('created_at', :scope => 'refinery.blog.shared.posts', :when => l(post.published_at.to_date, :format => :default)) %>
        </time>.

        <% if (tags = post.tags).any? %>
          <aside class='tagged'>
            <%= t('tagged', :scope => 'refinery.blog.posts.show') %>:
            <%=raw tags.collect { |tag| link_to tag, refinery.blog_tagged_posts_path(tag.id, tag.name.parameterize) }.to_sentence %>
          </aside>
        <% end %>
      </div>
    </header>
  </article>
<% end %>