<header id="header" role="banner">
  <div class="wrapper">
    <div id="logo" rel="home">
      <%= link_to refinery.root_path do %>
        <%= image_tag 'refinery-cms-logo.png' , alt: Refinery::Core.site_name %>
      <% end %>
    </div>

    <div id="menus">
      <div id="main-menu">
        <% cache(cache_key_for_menu("main_menu", @page)) do %>
          <%= menu("main_menu", 1).to_html %>
        <% end %>
      </div>

      <div id="marketing-menu">
        <% cache(cache_key_for_menu("marketing_menu", @page)) do %>
          <%= menu("marketing_menu", 0).to_html %>
        <% end %>
      </div>

      <%= link_to '#mobile-menu', id: 'mobile-menu-link' do %>
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
        <em class="visuallyhidden"><%= t('.menu') %></em>
      <% end %>

      <nav id="mobile-menu" role="navigation">
        <% cache(cache_key_for_menu("mobile_menu", @page)) do %>
          <%= menu("mobile_menu", 3).to_html %>
        <% end %>
      </nav>
    </div>
  </div>
</header>
