<header id="header" role="banenr">
  <div class="wrapper">
    <div id="logo" rel="home">
      <%= link_to refinery.root_path do %>
        <%= image_tag 'refinery-cms-logo.png' , alt: Refinery::Core.site_name %>
      <% end %>
    </div>

    <div id="menus">
      <div id="main-menu">
        <%= main_menu.to_html %>
      </div>

      <div id="user-menu">
        <ul>
          <li>
            <a href="#">Community</a>
          </li>
          <li>
            <a href="#">Demo</a>
          </li>
          <li>
            <a href="#">Get started</a>
          </li>
        </ul>
      </div>

      <%= link_to '#mobile-menu', id: 'mobile-menu-link' do %>
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
        <em class="visuallyhidden"><%= t('.menu') %></em>
      <% end %>

      <nav id="mobile-menu" role="navigation">
        <%= mobile_menu.to_html %>
      </nav>
    </div>
  </div>
</header>