!!! 5
= render '/refinery/html_tag'
- site_bar = render('/refinery/site_bar', :head => true)
= render '/refinery/head'
%body{:id => canonical_id(@page) }
  = site_bar
  = render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/
  #page_container
    %header#header
      = render '/refinery/header'
    %section#page= yield
    %footer
      = render '/refinery/footer'

  = render '/refinery/javascripts'
