<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
    <%= render "/refinery/javascripts" %>
  </head>
  <body id="<%= canonical_id @page %>">
    <%= site_bar -%>
    <div id="page_container">
      <%= render "/refinery/header" -%>
      <section id="page">
        <%= yield %>
      </section>
      <%= render "/refinery/footer" -%>
    </div>
  </body>
</html>