<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <head>
    <%= render "/refinery/head" %>
    <%= render "/refinery/javascripts" %>
  </head>
  <body class="iframe" id="<%= canonical_id @page %>">
    <div id="page_container">
      <section id="page">
        <%= yield %>
      </section>
    </div>
  </body>
</html>
